@font-face { font-family: SeriousTitle; src: url('../fonts/theboldfont.ttf'); }
@font-face { font-family: SeriousSubtitle; src: url('../fonts/Cocogoose-Condensed-Ultralight-trial.ttf'); }
@font-face { font-family: Buttons; src: url('../fonts/Roboto-Thin.ttf'); }

a {
	  color:  #ffc700;
	  font-weight: 150;
}
	
canvas {
  display: block;
  vertical-align: center;
  background:#111111;
}

html,body{
	width:100%;
	height:100%;
	background:#111111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background:#111111;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
  background:#111111;
}

#particles-js {
  position: static;
  width: 100%;
  height: 100%;
  background: #111111;
}

.blur{
	filter: blur(0.25px);
}

.text {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #fff;
  max-width: 120%;
  min-width: 20%;
  max-height: 100%;
  min-height: 10%;
  padding: 25px;
  background: rgba(153, 153, 153, 0.33);
  border-radius: 10px;
    font-family: 'BUTTONS', sans-serif;

}
.bold {
	font-family: 'SeriousTitle', sans-serif;
}
.boldish {
	font-family: 'SeriousSubtitle';
}
.yellow {
	color: #FEE900;
}
.orange {
	color: #FEA100;
}
.red {
	color: #ea4423;
}
.text2 {

}

h1 {
  font-size: 1.55em;
  filter: blur(0.4px);
  letter-spacing: 4px;
  color: #FFFBF9;
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'SeriousTitle', sans-serif;
}

h4 {
  font-size: 1em;
  padding: 10px;
  font-weight: 90;
  text-align: left;
  font-family: 'SeriousSubtitle';
  filter: blur(0.4px);
}
h5 {
  font-size: 1.25em;
  padding: 10px;
  font-weight: 90;
  text-align: center;
  font-family: 'SeriousSubtitle'; 
  filter: blur(0.2px);
  }

li {
  text-align: center;
  list-style-type: circle;

  list-style-position: inside;
}

ul {
  font-size: 12px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #FFFBF9;
  font-family: 'Buttons', sans-serif;
}
ol {
  font-size: 12px;
  text-align: center;
  color: #FFFBF9;
  font-family: 'Buttons', sans-serif;
  padding: 5px;
}
p {
  font-size: 1.25em;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 100;
  letter-spacing: 0.3px;
  text-align: center;
  color: #FFFBF9;
  font-family: 'SeriousSubTitle', sans-serif;
}


/* BUTTONS */
/* corner values for bubble up and down */

/* lets create a container and put it in the middle */


.ctrl-standard.fx-sliderIn {
  color: #FFF;
  border-color: #4e5f7a;
}
.ctrl-standard.fx-sliderIn::after {
  background: #34435B;
}
.ctrl-standard.fx-sliderIn.is-reversed::after {
  width: 300%;
  filter: blur(0.2px);
}
.ctrl-standard.fx-sliderIn.is-reversed:hover {
  color: #ffc700;
    filter: blur(0.2px);
}
.ctrl-standard.fx-sliderIn.is-reversed:hover::after {
  width: 300%;
  filter: blur(0.2px);
}
[class*="ctrl-"] {
  padding: 0px 0px;

}
[class*="ctrl-"][class*="fx-"]:hover,
[class*="ctrl-"][class*="fx-"].active {
  color: #FFF;
}
[class*="ctrl-"][class*="fx-"].is-reversed {
  color: #FFF;
}

  [class*="fx-"],
[class*="fx-"]:hover {
    -webkit-transition: color 0.5s  ease-in-out;
    transition: color 0.5s  ease-in-out;
  }
  [class*="fx-"]:not(.fx-dyna) {
    position: relative;
    z-index: 1;
    -webkit-transition-delay: 0.2s !important;
            transition-delay: 0.2s !important;
    overflow: hidden;
  }
  [class*="fx-"]:not(.fx-dyna)::after,
[class*="fx-"]:not(.fx-dyna)::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
  }
  [class*="fx-bubble"]::after {
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
  }
  [class*="fx-bubble"]:hover::after,
[class*="fx-bubble"].active::after {
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    height: 300%;
  }
  [class*="fx-bubble"]:disabled:hover::after {
    height: 0;
  }
  .fx-sliderIn::after {
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
  }
  .fx-sliderIn:hover::after,
.fx-sliderIn.active::after {
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width: 100%;
  }
  :checked + .fx-sliderIn::after,
.fx-sliderIn.active::after {
    width: 300%;
  }
